.item-zone{
    display: flex;
    justify-content: center;
    align-items: center;    

    position: relative;
    z-index: 2;
}

.game-item{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;
}
.goingBack{
    transition: all 0.5s;
}
.cloud{
    z-index: 2;
}

