@font-face {
  font-family: 'Raleway';
  src: local('Raleway'),
  url('./fonts/Raleway-VariableFont_wght.ttf') format ('ttf');
  font-weight: bold;
}


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,body, #root{
  height: 100%;
  font-family: 'Raleway', sans-serif;
}

.game{
  background-color: black;
  width: 100%;
  height: 100%;
  padding-inline:30px ;

  display: flex;
  flex-direction: column;
}
.game-hint{
  display:flex;
  width: 100%;
  align-items: center;
  justify-content: end;
  height: 30px;
  margin-bottom: 20px;
  gap: 10px;
}
.hint-text{
  color: white;
  width: 242px;
  font-size: 14px;
}